# ====================================
# SERVIDOR
# ====================================
PORT=3001
NODE_ENV=development

DATABASE_URL="postgresql://mayuminina@localhost:5432/salud_total"

# ====================================
# JWT (Seguridad)
# ====================================
JWT_SECRET=tu_clave_secreta_super_segura_2026_cambiar_en_produccion
JWT_EXPIRES_IN=7d

# ====================================
# CORS (Frontend)
# ====================================
FRONTEND_URL=http://localhost:5173
